.row {
    margin-bottom: 4px;
    height: 100px;
}

.col {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.disabled{
    pointer-events: none;
}